<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="EngConferenceDB" connectionString="Data Source=CA1CORPSQL02\PCORP;Initial Catalog=EngConference;User ID=engconfweb;Password=4Success" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <identity impersonate="false"/>
    <authentication mode="Windows"/>
    <sessionState mode="InProc" cookieless="false" timeout="10"/>
    <customErrors mode="Off"/>
    <!--<customErrors mode="On"
     defaultRedirect="Errors/DefaultRedirectErrorPage.aspx">
      <error statusCode="404" redirect="Errors/Http404ErrorPage.aspx"/>
    </customErrors>-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="SP_Lists.Lists" value="http://collaboration.kla-tencor.com/_vti_bin/Lists.asmx"/>
    <add key="mailserver" value="mailhost.kla-tencor.com"/>
    <add key="sysadmin" value="daniel.stauffer@kla-tencor.com"/>
    <add key="ConferenceID" value="2"/>
    <add key="ConferenceStart" value="10/25/2015 8:00 AM"/>
    <add key="ConferenceStop" value="10/27/2015 5:00 PM"/>
    <add key="ConferenceGUID" value="466aa02e-6c30-4478-8e41-7cee69533c30"/>
    <add key="RedirectToHome" value="Default.aspx"/>
    <add key="ConferenceRegistrationSite" value="http://productivity/EngineeringConferenceRegistration/"/>
    <add key="SendEmail" value="true"/>
    <add key="EmailTemplatePath" value="~/EmailTemplates/"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
</configuration>